{% extends "_layouts/webpages" %}

{% set loadForms = false %}
{% set loadPhotos = false %}
{% set loadSongs = false %}

{% for module in entry.pageModule %}
	{% if module.type == "photos" %}
		{% set loadPhotos = true %}
	{% elseif module.type == "form" %}
		{% set loadForms = true %}
	{% elseif module.type == "songs" %}
		{% set loadSongs = true %}
	{% endif %}
{% endfor %}

{% block scripts %}
	<script defer type="text/javascript">
		document.addEventListener("DOMContentLoaded", function()
        {
			{% if loadForms %}
				exit85.addForms();
			{% endif %}
			{% if loadPhotos %}
				exit85.addPhotos();
			{% endif %}
			{% if loadSongs %}
				exit85.addSongs();
			{% endif %}
		});
	</script>
{% endblock %}

{% block content %}

	{% if entry.showMedia %}
		<div class="hero">
			<video playsinline="" autoplay="" muted="" loop="">
			  	<source src="/videos/hero-video-mobile.mp4" type="video/mp4">
			</video>
			<a class="down-arrow" href="#main"></a>
			{% if entry.headline or entry.ctaText %}
				<div class="container">
					<div class="container narrow left">
						{% if entry.headline %}
							<h1>{{ entry.headline }}</h1>
						{% endif %}
						{% if entry.ctaText %}
							{% if entry.ctaEntry.count %}
								<a href="{{ entry.ctaEntry.one().url }}">{{ entry.ctaText }}</a>
							{% elseif entry.ctaUrl %}
								<a href="{{ entry.ctaUrl }}" target="_blank">{{ entry.ctaText }}</a>
							{% else %}
								<span>{{ entry.ctaText }}</span>
							{% endif %}
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	{% else %}
		<div class="page-header">
			<div class="container narrow">
				{% if entry.headline %}
					<h1>{{ entry.headline }}</h1>
				{% endif %}
				{% if entry.ctaText %}
					{% if entry.ctaEntry.count %}
						<a href="{{ entry.ctaEntry.one().url }}">{{ entry.ctaText }}</a>
					{% elseif entry.ctaUrl %}
						<a href="{{ entry.ctaUrl }}" target="_blank">{{ entry.ctaText }}</a>
					{% else %}
						<span>{{ entry.ctaText }}</span>
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endif %}


	<div id="main">
		{% include 'pages/_module' with { modules: entry.pageModule } %}
	</div>

{% endblock %}