{% set isAlternateSection = true %}

{% macro addressLocation(address) %}
    {% set lowerAddress = address | lower %}
    
    {% if 'fort mill' in lowerAddress %}
        {{ 'Fort Mill, SC' }}
    {% elseif 'rock hill' in lowerAddress %}
        {{ 'Rock Hill, SC' }}
    {% elseif 'charlotte' in lowerAddress %}
        {{ 'Charlotte, NC' }}
    {% elseif 'sc' in lowerAddress or 'south carolina' in lowerAddress %}
        {{ 'South Carolina' }}
    {% elseif 'nc' in lowerAddress or 'north carolina' in lowerAddress %}
        {{ 'North Carolina' }}
    {% else %}
        {{ 'View Map' }}
    {% endif %}
{% endmacro %}

{% for module in modules %}

	{% if module.type == "form" %}

		<section class="form">
			<div class="container">
				{% if module.formType == "contactForm" %}
					<form id="contact-form">
	                    <input type="hidden" name="soulgem" value="">
	                    <input type="text" placeholder="First Name *" name="first">
	                    <input type="text" placeholder="Last Name *" name="last">
	                    
	                    <input type="text" placeholder="Phone" name="phone">
	                    <input type="text" placeholder="Email" name="email">
	               
	                    <input type="text" placeholder="Venue Name and Location" name="venue">
	                    <input type="text" placeholder="Date(s) Interested" name="dates">

	                    <textarea placeholder="Message" name="message"></textarea>

	                    <button type="submit">Send</button> 
	                    <span class="info"></span>
	                </form>
				{% endif %}
			</div>
		</section>

	{% elseif module.type == "headlineText" %}

		{% if module.headline | length %}
			{% set isAlternateSection = not isAlternateSection %}
		{% endif %}

		<section class="copy{% if isAlternateSection %} alternate{% endif %} {{ module.alignment }}">
			<div class="container{% if module.narrow %} narrow{% endif %}">
				{% if module.headline | length %}
					<h2>{{ module.headline }}</h2>
				{% endif %}
				{% if module.richText | length %}
					{{ module.richText }}
				{% endif %}
			</div>
		</section>

	{% elseif module.type == "photos" %}

		<section class="photos{% if isAlternateSection %} alternate{% endif %}" data-count="{{ module.photos | length }}">
			<div class="container">
				{% for photo in module.photos %}
					<figure>
						{% if loop.index == 3 or loop.index == 4 or loop.index == 9 or loop.index == 10 %}
							<img src="{{ photo.url('webpagesPhoto') }}" 
								alt="{{ photo.alt | length ? photo.alt : "Exit 85 Live Music" }}"
								loading="lazy"
								srcset="{{ photo.url('webpagesPhoto') }} 992w, {{ photo.url('webpagesPhotoFeatured') }} 1188w" 
								sizes="(max-width: 992px) 372w, 756w"
								width="{{ photo.width('webpagesPhoto') }}"
								height="{{ photo.height('webpagesPhoto') }}">
						{% else %}
							<img src="{{ photo.url('webpagesPhoto') }}" 
								alt="{{ photo.alt | length ? photo.alt : "Exit 85 Live Music" }}"
								loading="lazy" 
								width="{{ photo.width('webpagesPhoto') }}"
								height="{{ photo.height('webpagesPhoto') }}">
						{% endif %}
						{% if photo.alt | length %}
							<figcaption>{{ photo.alt }}</figcaption>
						{% endif %}
					</figure>
				{% endfor %}
			</div>
		</section>

	{% elseif module.type == "shows" %}

		{% set shows = null %}

		{% for option in module.showTypes.options %}
			{% if option.selected %}
				{% if option.value == "upcomingShows" %}
					{% set showQuery = craft.entries().section('shows').showDate('>=' ~ now | date | atom).orderBy('showDate asc') %}
					{% set shows = shows == null ? showQuery : shows | merge(showQuery) %}
				{% elseif option.value == "pastShows" %}
					{% set showQuery = craft.entries().section('shows').showDate('<' ~ now | date | atom).orderBy('showDate desc') %}
					{% set shows = shows == null ? showQuery : shows | merge(showQuery) %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if shows != null and shows | length%}
			{% set month = "" %}
			{% set year = "" %}
			<section class="shows{% if isAlternateSection %} alternate{% endif %}">
				<div class="container fluid-mobile">
					{% for show in shows %}
						{% set showMonth = show.showDate | date('mm') %}
						{% if month != showMonth %}
							{% set month = showMonth %}
							{% set year = show.showDate | date('Y') %}
							<h4>{{ month }} {{ year }}</h4>
						{% endif %}
						<article>
							<div class="date">
								<span>{{ show.showDate | date('d') }}</span>
								<span>{{ show.showDate | date('l') }}</span>
							</div>
							<div>
								{% if 'private' in show.title | lower %}
									<span>{{ show.title }}</span>
								{% else %}
									<a href="{{ show.url }}">
										{{ show.title }}
									</a>
								{% endif %}
							</div>
							<div>
								{% if 'private' in show.title | lower %}
									<span>Private Event</span>
								{% else %}
									<a target="_blank" href="https://www.google.com/maps/search/{{ show.venueAddress }}">
										{{ _self.addressLocation(show.venueAddress) }}
									</a>
								{% endif %}
							</div>
						</article>
					{% endfor %}
				</div>
			</section>
		{% endif %}

	{% elseif module.type == "songs" %}
		<section class="songs">
			<div class="container">
				{% for cat in module.songCategories %}
					{% set songs = craft.categories.group('songs').slug(cat.slug) %}
					<h4>{{ cat.title }}</h4>
					<article>
						{% if songs.count %}
							{% for song in songs.one().children.all() %}
								<figure>
									<img src="{{ song.songImage.one().url('webpagesSong') }}">
									<figcaption>
										<h6>{{ song.title }}</h6>
										<span>{{ song.songArtist }}</span>
									</figcaption>
								</figure>
							{% endfor %}
						{% endif %}
					</article>
				{% endfor %}
			</div>
		</section>

	{% elseif module.type == "video" %}

		<section class="videos{% if isAlternateSection %} alternate{% endif %}" data-count="{{ module.videos | length }}">
			<div class="container{% if module.videos | length == 1 %} narrow{% endif %}">
				{% for video in module.videos %}
					<figure>
						<div>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.videoId }}"{% if video.caption | length %} title="{{ video.caption }}"{% endif %} frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						{% if video.caption | length %}
							<figcaption>{{ video.caption }}</figcaption>
						{% endif %}
					</figure>
				{% endfor %}
			</div>
		</section>

	{% endif %}

{% endfor %}