{% extends "_layouts/main" %}

{% set posts = craft.entries.section('blog').orderBy('dateCreated asc').limit(20).all() %}

{% set title = entry.heroText %}
{% if entry.ctaText | length %}
	{% set title = (title ~ ' | ' ~ entry.ctaText) %}
{% endif %}

{% block title %}
    {{ title }} | Exit 85
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ entry.seoDescription }}">

    <meta name="generator" content="Exit85">
    <meta class="swiftype" name="doc-type" data-type="string" content="Customer">
    <meta class="swiftype" name="meta-description" data-type="text" content="{{ entry.blogAbstract }}">
    <meta class="swiftype" name="last-updated" data-type="date" content="{{ "now"|date("Y-m-d") }}">

    {# OG Tags #}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ entry.seoDescription }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}" />

    <meta property="og:logo" content="http://exiteightyfive.com/images/logo-sign-small.png" />

    {% if entry.hero.count %}
	    <meta property="og:image" content="https://exiteightyfive.com{{ entry.hero.one().url('seoImage') }}" />
	    <meta name="twitter:image" content="https://exiteightyfive.com{{ entry.hero.one().url('seoImage') }}">
    {% endif %}

    {# Twitter Tags #}
    <meta name="twitter:creator" content="@jacksutherland" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ entry.seoDescription }}">
    
{% endblock %}

{% block hero %}
	{% if entry.hero.count %}
		<div class="hero small-hero">
			<div class="hero-image {% if entry.heroGrayscale %} hero-grayscale{% endif %}" style="background-image: url({{ entry.hero.one().url }})"></div>
			{% if entry.heroText | length %}
				<div class="hero-text">
					<h1>{{ entry.heroText }}</h1>
					{% if entry.ctaText | length %}
						<span class="hero-cta">{{ entry.ctaText }}</span>
					{% endif %}
				</div>
			{% endif %}
		</div> 
	{% endif %}
{% endblock %}

{% block content %}

	<div class="container">
		<section class="blog">

			{% for post in posts %}

				<article class="blog-post">

					<h3>{{ post.blogTitle }}</h3>
					{% if post.author != null %}
						<h6>Written by <a href="/sections/members"><strong>{{ post.author.fullName }}</strong></a> on {{ post.dateCreated | date('m/d/Y') }}</h6>
					{% endif %}

				</article>

			{% endfor %}

			{#
			<article class="blog-post">
				
					<div class="row justify-content-center">
						<div class="col-lg-8">

							<h2>{{ entry.blogTitle }}</h2>

							<h6>Written by <a href="/sections/members"><strong>{{ entry.author.fullName }}</strong></a></h6>

							{% for module in entry.blogModule %}
								{% switch module.type %}
									{% case 'richText' %}
										<div class="blog-text">
											{{ module.richText }}
										</div>
									{% case 'image' %}
										<div class="blog-image">
											<img src="{{ module.image.one().url }}" alt="{{ module.image.one().title }}" title="{{ module.caption }}" loading="lazy">
											<div class="blog-image-caption">{{ module.caption }}</div>
										</div>
									{% case 'embedCode' %}
										<div class="blog-embed">
											{{ module.embedcode | raw }}
										</div>	
								{% endswitch %}
							{% endfor %}

						</div>
					</div>
				</div>
			</article>
			#}
		</section>
	</div>

	{#% include "_includes/ad" %#}

{% endblock %}