{% set versionNumber = '2.002' %}

{% set rootUrl = 'https://exiteightyfive.com' %}
{% set pageUrl = rootUrl ~ craft.app.request.url %}

{% set nav = craft.entries().section('pages').navigation(true) %}

{% if entry is defined %}
	{% set seoTitle = (entry.seoTitle is defined ? entry.seoTitle : entry.title) ~ ' | ' ~ siteName %}
	{% set seoDescription = entry.seoDescription is defined ? entry.seoDescription : "" %}
	{% set seoImage = entry.seoImage is defined and entry.seoImage.count ? entry.seoImage.one() : null %}
{% else %}
	{% set seoTitle = siteName %}
	{% set seoDescription = "" %}
	{% set seoImage = null %}
{% endif %}

{% macro home() %}
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
{% endmacro %}

{% macro facebook() %}
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.506 0-1.795.716-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.731 0 1.324-.593 1.324-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
{% endmacro %}

{% macro youtube() %}
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.495 7.204c-.292-1.082-1.136-1.926-2.217-2.217-1.925-.396-9.638-.396-9.638-.396s-7.713 0-9.638.396c-1.081.291-1.925 1.135-2.217 2.217-.396 1.925-.396 5.796-.396 5.796s0 3.871.396 5.796c.292 1.082 1.136 1.926 2.217 2.217 1.925.396 9.638.396 9.638.396s7.713 0 9.638-.396c1.081-.291 1.925-1.135 2.217-2.217.396-1.925.396-5.796.396-5.796s0-3.871-.396-5.796zm-13.903 9.329v-6.066l6.338 3.033-6.338 3.033z"/></svg>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ seoTitle }}</title>
		<meta name="robots" content="all">

		{% if seoDescription | length %}
			<meta name="description" content="{{ seoDescription }}">
			<meta property="og:description" content="{{ seoDescription }}" />
			<meta name="twitter:description" content="{{ seoDescription }}">
		{% endif %}

		{% if seoImage != null %}
			<meta property="og:image" content="{{ rootUrl ~ seoImage.url('seoOg') }}" />
			<meta name="twitter:image" content="{{ rootUrl ~ seoImage.url('seoTwitter') }}">
		{% endif %}

		<meta property="og:url" content="{{ pageUrl }}" />
        <meta property="og:site_name" content="{{ siteName }}" />
        <meta name="twitter:title" content="{{ seoTitle }}">
        <meta name="twitter:site" content="@jacksutherland">
        <meta name="twitter:creator" content="@jacksutherland">

        <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <link href="/assets/css/webpages.min.css?v={{ versionNumber }}" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<!-- Facebook SDK -->
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=101190826639926&autoLogAppEvents=1" nonce="MASbJ8r0"></script>
        <!-- End Facebook SDK -->

		<header>
			<div class="container">
				<a href="/" class="logo">
	                <img src="/images/logo.png" alt="Exit 85">
	            </a>
	            <div class="fb-like" data-href="https://www.facebook.com/exiteightyfive" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
				<nav>
					{% for page in nav %}
						{% if false and page.slug == "__home__" %}
							<a class="icon" href="{{ page.url }}" target="_blank">{{ _self.home() }}</a>
						{% else %}
							<a itemprop="url" href="{{ page.url }}" title="{{ page.title }}">
			                    <span itemprop="name">{{ page.title }}</span>
			                </a>
			            {% endif %}
					{% endfor %}
	                <a class="icon" href="https://www.facebook.com/exiteightyfive/" target="_blank">{{ _self.facebook() }}</a>
	                <a class="icon" href="https://www.youtube.com/channel/UCiT2sGOUicZ7FbLLcTRvXjg" target="_blank">{{ _self.youtube() }}</a>
	            </nav>
            </div>
		</header>

		<main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
        	<nav>
				{% for page in nav %}
					<a itemprop="url" href="{{ page.url }}" title="{{ page.title }}">
	                    <span itemprop="name">{{ page.title }}</span>
	                </a>
				{% endfor %}
            </nav>
        	<a class="icon" href="https://www.facebook.com/exiteightyfive/" target="_blank">{{ _self.facebook() }}</a>
        	<a class="icon" href="https://www.youtube.com/channel/UCiT2sGOUicZ7FbLLcTRvXjg" target="_blank">{{ _self.youtube() }}</a>
        	<div>© {{ now|date('Y') }} Exit 85. All right reserved. Created by <a href="https://realitygems.com">Reality Gems</a></div>
        </footer>

		<script defer src="/assets/js/webpages.min.js?v={{ versionNumber }}"></script>
		<script defer 
		type="text/javascript">
			var exit85 = null;
			document.addEventListener("DOMContentLoaded", function()
            {
                exit85 = new Exit85();
            });
		</script>
        {% block scripts %} {% endblock %}

	</body>

</html>
