{% set versionNumber = '2.003' %}

{% set rootUrl = 'https://exiteightyfive.com' %}
{% set pageUrl = rootUrl ~ craft.app.request.url %}

{% set nav = craft.entries().section('pages').navigation(true) %}

{% if entry is defined %}
	{% set seoTitle = (entry.seoTitle is defined ? entry.seoTitle : entry.title) ~ ' | ' ~ siteName %}
	{% set seoDescription = entry.seoDescription is defined ? entry.seoDescription : "" %}
	{% set seoImage = entry.seoImage is defined and entry.seoImage.count ? entry.seoImage.one() : null %}
{% else %}
	{% set seoTitle = siteName %}
	{% set seoDescription = "" %}
	{% set seoImage = null %}
{% endif %}

{% import '_includes/macros' as macros %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ seoTitle }}</title>
		<meta name="robots" content="all">

		{% if seoDescription | length %}
			<meta name="description" content="{{ seoDescription }}">
			<meta property="og:description" content="{{ seoDescription }}" />
			<meta name="twitter:description" content="{{ seoDescription }}">
		{% endif %}

		{% if seoImage != null %}
			<meta property="og:image" content="{{ rootUrl ~ seoImage.url('seoOg') }}" />
			<meta name="twitter:image" content="{{ rootUrl ~ seoImage.url('seoTwitter') }}">
		{% endif %}

		<meta property="og:url" content="{{ pageUrl }}" />
        <meta property="og:site_name" content="{{ siteName }}" />
        <meta name="twitter:title" content="{{ seoTitle }}">
        <meta name="twitter:site" content="@jacksutherland">
        <meta name="twitter:creator" content="@jacksutherland">

        <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <link href="/assets/css/webpages.min.css?v={{ versionNumber }}" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<!-- Facebook SDK -->
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=101190826639926&autoLogAppEvents=1" nonce="MASbJ8r0"></script>
        <!-- End Facebook SDK -->

		<header>
			<div class="container">
				<a href="/" class="logo">
	                <img src="/images/logo.png" alt="Exit 85">
	            </a>
	            <div class="fb-like" data-href="https://www.facebook.com/exiteightyfive" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
				<nav>
					{% for page in nav %}
						{% if false and page.slug == "__home__" %}
							<a class="icon" href="{{ page.url }}" target="_blank">{{ macros.home() }}</a>
						{% else %}
							<a itemprop="url" href="{{ page.url }}" title="{{ page.title }}">
			                    <span itemprop="name">{{ page.title }}</span>
			                </a>
			            {% endif %}
					{% endfor %}
	                <a class="icon" href="https://www.facebook.com/exiteightyfive/" target="_blank">{{ macros.facebook() }}</a>
	                <a class="icon" href="https://www.youtube.com/channel/UCiT2sGOUicZ7FbLLcTRvXjg" target="_blank">{{ macros.youtube() }}</a>
	            </nav>
            </div>
		</header>

		<main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
        	<nav>
				{% for page in nav %}
					<a itemprop="url" href="{{ page.url }}" title="{{ page.title }}">
	                    <span itemprop="name">{{ page.title }}</span>
	                </a>
				{% endfor %}
            </nav>
        	<a class="icon" href="https://www.facebook.com/exiteightyfive/" target="_blank">{{ macros.facebook() }}</a>
        	<a class="icon" href="https://www.youtube.com/channel/UCiT2sGOUicZ7FbLLcTRvXjg" target="_blank">{{ macros.youtube() }}</a>
        	<div>© {{ now|date('Y') }} Exit 85. All right reserved. Created by <a href="https://realitygems.com">Reality Gems</a></div>
        </footer>

		<script defer src="/assets/js/webpages.min.js?v={{ versionNumber }}"></script>
		<script defer 
		type="text/javascript">
			var exit85 = null;
			document.addEventListener("DOMContentLoaded", function()
            {
                exit85 = new Exit85();
            });
		</script>
        {% block scripts %} {% endblock %}

	</body>

</html>
